/* URL starting with -> https://discordapp.com/channels/ */
img[src*="/emojis/"].emoji {
    min-height: 2.8em !important;
    min-width: 3.2em !important;
}
img[src*="/emojis/"].emoji.jumboable {
    min-height: 6.2em !important;
    min-width: 6.8em !important;
}
img[src*="/assets/"].emoji {
    max-height: 0.8em !important;
    max-width: 1em !important;
    width: auto;
    height: auto
}
img[src*="/assets/"].emoji.jumboable {
    max-height: 1em !important;
    max-width: 1em !important;
    width: auto;
    height: auto
}
