/* Apply to "myanimelist.net" domain*/
/* You can make it wider */
.spaceit.textReadability {
	width: 980px !important;
	font-size: 1.28em !important;
	overflow-wrap: break-word!important;
}
.word-break.clearfix {
	font-size: 1.2em !important;
	overflow-wrap: break-word !important;
}
.page-common #menu {
	width: auto!important;
}
.page-common #myanimelist {
	width: auto !important;
	margin-left: 50px !important;
	margin-right: 50px !important;
}
