@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

:root {
	--tab-selection-background-color: rgba(80, 80, 80, 100) !important;
	--chrome-secondary-background-color: rgba(0, 20, 44, 100) !important;
}
.tab-background[selected="true"] {
    background-color: rgba(0, 60, 160, 100) !important;
    background-image: none !important;
    background-attachment: none !important;
}
#TabsToolbar .tabbrowser-tab[selected] {
    color: white !important;
    font-weight: 600 !important;
}
.tabbrowser-tab[selected]:not([pinned])[fadein] {
	min-width: 200px !important;
}
#urlbar {
	font-size: 1.1em !important;
	background-color:#171B1F !important;
}
#nav-bar {
	max-height:30px !important;
}
#navigator-toolbox {
	max-height:30px !important;
	background-color: black !important;
}
#navigator-toolbox::after, 
#TabsToolbar .titlebar-placeholder[type="pre-tabs"], 
#context-sendpagetodevice, #context-sep-sendpagetodevice, 
#context-sendlinktodevice, #context-sep-sendlinktodevice, 
#context_sendTabToDevice, #context_sendTabToDevice_separator, 
#pageAction-panel-sendToDevice, #pageAction-panel-emailLink, 
#appMenu-fxa-container, #appMenu-fxa-container + toolbarseparator,
#appMenu-edit-controls, #appMenu-edit-controls + toolbarseparator {
	display: none !important;
}
#urlbar, #nav-bar, #navigator-toolbox {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}
/* :root .tabbrowser-tab {
	color: rgb(230, 230, 230) !important;
	background-color: black !important;
}
:root .tabbrowser-tab[visuallyselected="true"] {
	color: rgb(240, 240, 240) !important; 
	background-color: rgb(75, 108, 180) !important;
	font-weight: 500 !important;
} */
